*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%; /* 10px */
    line-height: 1.6rem;
    box-sizing: border-box;
}

:root{
    --black-color: #000;
    --white-color: #fff;
}

.col{
    float: left;
}

.col-three{
    width: calc(100% / 3.2);
}