.header{
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

/* Begin navbar */

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__nav-item{
    position: relative;
}
.header__nav-item,
.header__nav-item-link{
    list-style: none;
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    padding: 5px;
    font-weight: 300;
}

.header__nav-item:hover,
.header__nav-item-link:hover{
    color: hsla(0,0%,100%,.7);
    cursor: pointer;
}

.header__nav-item--bold{
    font-weight: 550;
}

.header__nav-item--sepalate::after{
    content: '';
    display: block;
    position: absolute;
    height: 12px;
    border-right: 1px solid #FB9086;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.header__nav-icon{
    color: var(--white-color);
    font-size: 1.6rem;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin: 0 4px;
}

.header__nav--title{
    cursor: text;
}

.header__nav-qr:hover .header__qr{
    display: block;
}
/* QR Code */

.header__qr{
    display: none;
    background-color: var(--white-color);
    width: 165px;
    position: absolute;
    left: 0;
    top: 100%;
    border-radius: 2px;
}

.header__qr-img{
    width: 100%;
}

.header__qr-app{
    display: flex;
    justify-content: space-between;
}

.header__qr-download{
    height: 16px;
}

.header__qr-download-link-left{
    margin-left: 10px;
}

.header__qr-download-link-right{
    margin-right: 10px;
}

/* End QR code */
/* Begin Notify */

.header__header-noti::before{
    content: '';
    border-width: 15px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 10px;
    top: -25px;
}
.header__notify{
    position: absolute;
    top: 100%;
    width: 300px;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid #D3D3D3;
    animation: headerNotify ease-in 0.3s;
    transform-origin: calc(100% - 20px) top;
    display: none;
}

.header__nav--viewed-notify:hover .header__notify{
    display: block;
}

@keyframes headerNotify{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header{
    height: 25px;
    background-color: var(--white-color);
    cursor: default;
}

.header__notify-header h3{
    color: #999;
    margin: 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 100%;
    padding: 5px;
    user-select: none;
}

.header__notify-list{

}

.header__notify-item{
    list-style: none;
}

.header__notify-item--viewed{
    background-color: rgba(238, 77, 45, 0.1);
}

.header__notify-item:hover{
    background-color: #f7f7f7;
}

.header__notify-link{
    width: 100%;
    display: flex;
    padding: 4px;
    text-decoration: none;
}

.header__notify-img{
    width: 48px;
    padding-right: 5px;
    object-fit: contain;
}

.header__notify-body{
    flex: 1;
}

.header__notify-name{
    display: block;
    font-size: 1.3rem;
    color: var(--black-color);
    font-weight: 400;
}

.header__notify-desc{
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
}

.header__notify-footer{
    display: flex;
}

.header__notify-footer-btn{
    text-decoration: none;
    color: var(--black-color);
    padding: 8px;
    font-weight: 400;
    margin: auto;
}