@media (max-width: 740px){
    .header{
        height: 175px;
    }

    .header__navbar{
        display: flex;
    }

    .header-with__search{
        display: flex;
    }

    .header__logo{
        flex: 1;
    }

    .header__logo-name{
        font-size: 1.6rem;
    }
    .header__search{
        flex: 3;
    }

    .header__cart{
        flex: 1;
    }

    .header__search-btn{
        width: 20px;
    }

    .container__product-header{
        display: flex;
        flex-direction: column;
    }

    .container__product-list{
        display: flex;
        flex-direction: column;
    }

    .container__product-items{
        margin-bottom: 20px;
    }

    .col-full{
        width: 100%;
    }

    .container__product-item{
        display: flex;
    }
    .container__product-link{
        display: flex;
        flex-direction: column;
    }

    /* Register */

    .register__header{
        margin: 20px 5px 10px 10px;
        display: flex;
        flex-direction: column;
    }

    .register__header-logo{
        margin-bottom: 10px;
    }

    .register__header-help-text{
        display: flex;
        justify-content: end;
    }

    .register__body{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .register__body-logo{
        display: flex;
        
    }
}